@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container
{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}
.navbar
{
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.top-left
{
    width: 50vw;
}
.top-right
{
    width: 50vw;
}
.section1
{
    
}