@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container
{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}
.logo
{
    font-size: 1.3rem;
}
.navbar
{
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.top-left
{
    width: 50vw;
    height: 100%;
}
.dumbellImg
{
    width: 94px;
}
.top-right
{
    width: 50vw;
}
.section1
{
 height: 20vw;   
}

.btn
{
    padding: 4px 12px;
    border: 2px solid black;
    color: white;
    background-color: rgb(227, 74, 56);
    border-radius: 6px;
    cursor:pointer;
}
.top-right img
{
    height: 500px;
}