.min-h-screen
{
    min-height: 100vh;
}
.bg-red
{
    background-color: red;
}
.mx-auto
{
    margin: auto;
}
.items-center
{
    align-items:center;
}
.justify-between
{
    justify-content:space-between;
}
.flex
{
    display: flex;
}
.font-bold
{
    font-weight: bold;
}